.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 300px;
    height: 300px;
    button {
        border: 1px solid #D74B43;
        border-radius: 10px;
        background: none;
        outline: none;
        color: #D74B43;
        width: 300px;
        height: 30px;
        margin: 20px 10px;
        display: block;
    }
    img {
        margin: 20px 100px;
    }
}